@import "bootstrap-grid.min.css";
@import "swiper-bundle.min.css";

@font-face {
    font-family: "calibri";
    src: url("../fonts/calibri.woff2");
}

@font-face {
    font-family: "keep";
    src: url("../fonts/keep.woff2");
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider-principal{
    width: 100%;
    height: 100vh;
}

.info-home{
    position: absolute;
    z-index: 2;
    width: 100%;
}

.slider-principal img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

h2{
    font-family: keep;
    color: #fff;
    font-size: 50px;
    color: #25BB42;
}

h6{
    font-size: 20px;
    font-family: calibri;
    color:#fff;
}

a{
  font-size: 13px;
  color: #25BB42;
  text-decoration: none;  
  font-family: keep;
  border: 1px solid #25BB42;
  padding: 17px 40px;
  border-radius: 25px;
}

.franja{
    position: fixed;
    z-index: 99999;
    bottom: 0;
}

.container-nav{
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: black;
}

.nav{

    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo img{
    height: 30px;
}

ul li {
    color: white;
}